<div class="container" style="margin-top: 12px">
    <alert message="recordLabels.error"></alert>

    <a href="#record-label" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span>
        <span>Add new recordLabel</span>
    </a>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th colspan="2">Royalties</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="recordLabel in recordLabels.list">
                <td>
                    <a ng-href="#record-label/{{recordLabel.id}}">
                        {{recordLabel.name}}
                    </a>
                </td>
                <td>{{recordLabel.description}}</td>
                <td>{{recordLabel.royalties}}</td>
                <td>
                    <span ng-click="recordLabels.deleteRecordLabel(recordLabel)"
                          class="clickable glyphicon glyphicon-trash">
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>