<div class="container" style="margin-top: 12px">
    <alert message="promos.error"></alert>

    <a href="#promo" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span>
        <span>Add new promo</span>
    </a>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Code</th>
                <th>Description</th>
                <th>Discount</th>
                <th colspan="2">Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="promo in promos.list">
                <td>
                    <a ng-href="#promo/{{promo.code}}">
                        {{promo.code}}
                    </a>
                </td>
                <td>{{promo.description}}</td>
                <td>{{promo.discount}}</td>
                <td>{{promo.amount}}</td>
                <td>
                    <span ng-click="promos.deletePromo(promo)"
                          class="clickable glyphicon glyphicon-trash">
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>