<div class="container" style="margin-top: 12px" xmlns="">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <alert message="payment.error"></alert>

            <div class="panel panel-default">
                <div class="panel-heading">
                    Add new payment
                </div>

                <div class="panel-body">
                    <form>
                        <fieldset class="form-group">
                            <input type="text"
                                   placeholder="Title"
                                   ng-model="payment.model.title"
                                   class="form-control"
                            />
                        </fieldset>

                        <fieldset class="form-group">
                            <input type="number"
                                   placeholder="Year"
                                   ng-model="payment.model.year"
                                   class="form-control"
                            />
                        </fieldset>

                        <fieldset class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                <input type="number"
                                       placeholder="Price"
                                       ng-model="payment.model.price"
                                       class="form-control"
                                />
                            </div>
                        </fieldset>

                        <fieldset class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"
                                           ng-model="payment.model.exclusive"
                                           ng-true-value="1"
                                           ng-false-value="0"
                                    />
                                    Exclusive
                                </label>
                            </div>
                        </fieldset>

                        <fieldset class="form-group">
                            <input type="text"
                                   placeholder="Payment art url"
                                   ng-model="payment.model.paymentArt"
                                   class="form-control"
                            />
                        </fieldset>

                        <fieldset class="form-group">
                            <select ng-model="payment.model.type"
                                    class="form-control"
                                    title="type"
                                    ng-options="at.id as at.name | capitalize for at in payment.paymentTypes">
                            </select>
                        </fieldset>

                        <fieldset class="form-group">
                            <select ng-model="payment.model.recordLabel"
                                    class="form-control"
                                    title="recordLabel"
                                    ng-options="rl.id as rl.name for rl in payment.recordLabels">
                            </select>
                        </fieldset>

                        <fieldset class="form-group">
                            <select ng-model="payment.model.artist"
                                    class="form-control"
                                    title="artist"
                                    ng-options="a.id as a.name for a in payment.artists">
                            </select>
                        </fieldset>

                        <fieldset class="form-group">
                            <select ng-model="payment.model.discount"
                                    class="form-control"
                                    title="discount"
                                    ng-options="d.id as d.name for d in payment.discounts">
                            </select>
                        </fieldset>
                    </form>
                </div>

                <div class="panel-footer">
                    <a ng-click="payment.submit()" class="btn btn-success">Save</a>
                    <a href="#payments" class="btn btn-default">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>