<div class="container" style="margin-top: 12px">
    <alert message="tracks.error"></alert>

    <a href="#track" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span>
        <span>Add new track</span>
    </a>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Album</th>
                <th>Tempo</th>
                <th>Length</th>
                <th colspan="2">Genre</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="track in tracks.list">
                <td>
                    <a ng-href="#track/{{track.id}}">
                        {{track.title}}
                    </a>
                </td>
                <td>{{track.album}}</td>
                <td>{{track.tempo | number}} BPM</td>
                <td>{{track.length | toTime }}</td>
                <td>{{track.genre}}</td>
                <td>
                    <span ng-click="tracks.deleteTrack(track)"
                          class="clickable glyphicon glyphicon-trash">
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>