<div class="container" style="margin-top: 12px" xmlns="">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <alert message="track.error"></alert>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    Add new track
                </div>

                <div class="panel-body">
                    <form>
                        <fieldset class="form-group">
                            <input type="text"
                                   placeholder="Title"
                                   ng-model="track.model.title"
                                   class="form-control"
                            />
                        </fieldset>

                        <fieldset class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">BPM</span>
                                <input type="number"
                                       placeholder="Tempo"
                                       ng-model="track.model.tempo"
                                       class="form-control"
                                />
                            </div>
                        </fieldset>

                        <fieldset class="form-group">
                            <input type="time"
                                   step="1"
                                   ng-model="track.model.length"
                                   class="form-control"
                            />
                        </fieldset>

                        <fieldset class="form-group">
                            <select ng-model="track.model.genre"
                                    class="form-control"
                                    title="genre"
                                    ng-options="g.id as g.name | capitalize for g in track.genres">
                            </select>
                        </fieldset>

                        <fieldset class="form-group">
                            <select ng-model="track.model.album"
                                    class="form-control"
                                    title="album"
                                    ng-options="a.id as a.name for a in track.albums">
                            </select>
                        </fieldset>
                    </form>
                </div>

                <div class="panel-footer">
                    <a ng-click="track.submit()" class="btn btn-primary">Save</a>
                    <a href="#tracks" class="btn">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>